doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Firebase
        script(src='https://www.gstatic.com/firebasejs/4.1.2/firebase.js')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
        script(src='./javascript/index.js')

    body

        h1 Firebase QuickStart

        include ../src/addForm

        a(href='../src/users.html') Show more