mixin menu()

    div.top-bar
        div.top-bar-left
            ul.dropdown.menu(data-dropdown-menu='')
                li
                    a(href='./main.html') Home
                li
                    a(href='./user.html') Users
                li
                    a(href='./addForm.html') Add